### IntelliJ IDEA ###
out/
**/out/
.idea/
**/.idea/
*.iml
!**/src/main/**/out/
!**/src/test/**/out/
**/build/
!**/build/
### Kotlin ###
.kotlin

AtomicKotlin1/.gradle
AtomicKotlin1/build
**/.gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
